@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #03A678,#02735E,#014040);
}

main{
    background-color: white;
    width: 800px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 7px #0397977a;
}

h1{
    color: #F27405;
    text-align: center;
    text-shadow: 1px 1px 2px #904503e2;
}

h2{
    color: #731702;
}

p{
    text-align: justify;
}

