@charset "UTF-8";

body{
    background-color: rgb(175, 248, 175);
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    color: rgb(0, 114, 0);
}

h2{
    color: rgb(21, 65, 21);
}

#principal{
    text-align: center;
    background-color: green;
    color: white;
}

.basico{
    color: blue;
}

.intermediario{
    color: rgb(127, 127, 28);
}

.avancado{
    color: red;
}