@charset "UTF-8";

h1{
    height: 300px;
    width: 300px;
    background-color: lightgray;
    border-width: 10px;  /* Largura da borda */
    border-style: solid;
    border-color: gray;
    padding: 10px;
    margin: auto; /*Server para deixar uma box model centralizado independente do tamanho da tela */
    outline: 5px dashed salmon;
}

a{
    border: 5px solid red;
}

