@charset "UTF-8";

table{
    border-collapse: collapse;
}

caption{
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
}

th, td{
    border: 1px solid black;
    padding: 10px 15px;
}

th{
    text-align: center;
}
